<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/headerbacsi.css}" rel="stylesheet">
	<link th:href="@{/css/lichsukham.css}" rel="stylesheet">
	<title>Xem Lịch Sử Khám Bệnh</title>
</head>

<body>
	<!-- Header -->
	<div th:replace="bacsi/fragments/header :: header"></div>

	<h1>Xem Lịch Sử Khám Bệnh</h1>

	<!-- Form tìm kiếm -->
	<form th:action="@{/bacsi/lichsukham}" method="get">
		<label for="startDate">Từ Ngày:</label>
		<input type="date" id="startDate" name="startDate" th:value="${startDate}" required>

		<label for="endDate">Đến Ngày:</label>
		<input type="date" id="endDate" name="endDate" th:value="${endDate}" required>
		<button type="submit">Tìm Kiếm</button>
	</form>

	<!-- Hiển thị kết quả -->
	<div th:if="${hoSoBenhPage.content.size() == 0}" style="text-align: center;">
		<p>Không có hồ sơ bệnh nào trong khoảng thời gian đã chọn.</p>
	</div>

	<div th:unless="${hoSoBenhPage.content.size() == 0}">
		<table>
			<thead>
				<tr>
					<th>Tên Bệnh Nhân</th>
					<th>Chẩn Đoán</th>
					<th>Thời Gian Tạo Đơn</th>
					<th>Tên Thuốc</th>
					<th>Liều Lượng/cử</th>
					<th>Tần Suất/lần</th>
					<th>Tổng Tiền Thuốc</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="hoSoBenh : ${hoSoBenhPage.content}">
					<td th:text="${hoSoBenh.tenBenhNhan}"></td>
					<td th:text="${hoSoBenh.chanDoan}"></td>
					<td th:text="${hoSoBenh.thoiGianTao}"></td>
					<td>
						<pre th:text="${hoSoBenh.tenThuoc}"></pre>
					</td>
					<td>
						<pre th:text="${hoSoBenh.lieu}"></pre>
					</td>
					<td>
						<pre th:text="${hoSoBenh.tanSuat}"></pre>
					</td>
					<td th:text="${hoSoBenh.formattedTongTienThuoc}"></td>
				</tr>
			</tbody>
		</table>

		<!-- Phân trang -->
		<div class="pagination">
			<ul>
				<!-- Nút Trang Trước -->
				<li th:if="${hoSoBenhPage.hasPrevious()}">
					<a
						th:href="@{/bacsi/lichsukham(startDate=${startDate}, endDate=${endDate}, page=${hoSoBenhPage.number - 1}, size=${hoSoBenhPage.size})}">Trang
						Trước</a>
				</li>

				<!-- Các số trang -->
				<li th:each="i : ${#numbers.sequence(0, hoSoBenhPage.totalPages - 1)}"
					th:classappend="${i == hoSoBenhPage.number} ? 'active'">
					<a th:href="@{/bacsi/lichsukham(startDate=${startDate}, endDate=${endDate}, page=${i}, size=${hoSoBenhPage.size})}"
						th:text="${i + 1}">1</a>
				</li>

				<!-- Nút Trang Sau -->
				<li th:if="${hoSoBenhPage.hasNext()}">
					<a
						th:href="@{/bacsi/lichsukham(startDate=${startDate}, endDate=${endDate}, page=${hoSoBenhPage.number + 1}, size=${hoSoBenhPage.size})}">Trang
						Sau</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>