/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-size: 14px;
}

/* Main Banner */
.banner {
   
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    text-align: center;
}

.banner-content h1 {
    font-size: 2.5em;
    margin: 0;
}

.banner-content p {
    font-size: 1.2em;
}

/* Services Section */
.services {
    display: flex;
    justify-content: space-around;
    padding: 30px 20px;
}

.service a {
    display: block;
    padding: 15px;
    background-color: #2a7abd;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    width: 130px;
    font-size: 13px;
}

.service a:hover {
    background-color: #ff6f61;
}
