<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cập Nhật Chuyên Khoa</title>
    <link th:href="@{/css/editchuyenkhoa.css}" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        <h1>Cập Nhật Chuyên Khoa</h1>
        <form th:action="@{/admin/qlck/update-chuyenkhoa}" method="post">
            <input type="hidden" name="chuyenKhoaId" th:value="${chuyenKhoa.chuyenKhoaId}" />

            <div class="form-group">
                <label for="ten">Tên Chuyên Khoa:</label>
                <input type="text" id="ten" name="ten" th:value="${chuyenKhoa.ten}" required />
            </div>

            <button type="submit" class="btn-update">Cập Nhật</button>
        </form>
        <a href="/admin/qlck" class="btn-back">Quay lại danh sách chuyên khoa</a>
    </div>
</body>

</html>
