<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Chuyên Khoa</title>
    <link th:href="@{/css/quanlychuyenkhoa.css}" rel="stylesheet">
    <link th:href="@{/css/headeradmin.css}" rel="stylesheet">
    <link th:href="@{/css/sidebaradmin.css}" rel="stylesheet">
</head>

<body>
    <div th:replace="admin/fragments/header :: header"></div>
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>
    
    <div class="main-content">

        <table>
            <thead>
                <tr>

                    <th>Tên Chuyên Khoa</th>
                    <th>Thao Tác</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="chuyenKhoa : ${chuyenkhoas}">
   
                    <td th:text="${chuyenKhoa.ten}"></td>
                    <td>
                         <a th:href="@{/admin/qlck/edit-chuyenkhoa/{chuyenKhoaId}(chuyenKhoaId=${chuyenKhoa.chuyenKhoaId})}" class="btn-edit">Chỉnh Sửa</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <form th:action="@{/admin/add-chuyenkhoa}" method="get" style="display:inline;">
            <button type="submit" class="btn-add">Thêm Chuyên Khoa</button>
        </form>
    </div>
</body>
</html>
