<header th:fragment="header">
	<div class="top-bar">
		<div class="logo">
			<img th:src="@{/images/logobenhvien.png}" alt="Logo" class="logo-img">
		</div>

		<div class="contact-info">
			<p>1-3, 6-8, 9-15 Trinh Van Can, P. Cầu Ông Lãnh, Q1, TPHCM</p>
			<p>HOTLINE: (028) 38.213.456</p>
			<p>Mail: info@example.com</p>
		</div>
	</div>
	<nav>
		<ul>
			<li><a th:href="@{/about}">Giới Thiệu</a></li>
			<li><a th:href="@{/doctors}">Bác Sĩ</a></li>
			<li><a th:href="@{/departments}">Chuyên Khoa</a></li>
			<li><a th:href="@{/health-check}">Tầm Soát Sức Khỏe</a></li>
			<li><a th:href="@{/customer-services}">Dịch Vụ Khách Hàng</a></li>
			<li><a th:href="@{/knowledge}">Kiến Thức</a></li>
			<li><a th:href="@{/recruitment}">Tuyển Dụng</a></li>
			<li>
				<a th:href="@{/user/editprofile}" class="edit-profile">
					<img th:src="@{/images/logoeditprofile.png}" alt="Edit Profile" width="20px" class="edit-icon">
					<span class="edit-text">Thông tin cá nhân</span>
				</a>
			</li>

			<li><a th:href="@{/logout}" class="logout">Đăng Xuất</a></li>
		</ul>
	</nav>
</header>