<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Báo</title>
    <link rel="stylesheet" th:href="@{/css/thongbaoquenmatkhau.css}">
</head>
<body>
    <div class="notification-container">
        <h2>Thông Báo</h2>
        <p>Vui lòng kiểm tra email của bạn để đặt lại mật khẩu.</p>
        <p>Nếu bạn không nhận được email, hãy kiểm tra thư mục spam hoặc thử lại.</p>
        
       
        
        <a href="/login" class="back-to-login">Quay lại trang đăng nhập</a>
    </div>
</body>
</html>
