<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
</head>
<body>
    <!-- Sidebar Menu -->
    <div class="admin-sidebar" th:fragment="sidebar">
        <ul>
            <li><a href="/admin/qltk" class="admin-menu-item">Quản lý người dùng</a></li>
            <li><a href="#" class="admin-menu-item">Quản lý bác sĩ</a></li>
            <li><a href="#" class="admin-menu-item">Quản lý chuyên khoa</a></li>
            <li><a href="#" class="admin-menu-item">Quản lý thuốc</a></li>
            <li><a href="/admin/qlck" class="admin-menu-item">Quản lý ca khám bệnh</a></li>
            <li><a href="#" class="admin-menu-item admin-btn-logout">Đăng xuất</a></li> <!-- Thêm nút Đăng xuất -->
        </ul>
    </div>
</body>
</html>
